@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@layer base {
  body {
    @apply font-inter;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold leading-tight;
  }
  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl lg:text-7xl;
  }
  h2 {
    @apply text-3xl sm:text-4xl md:text-5xl lg:text-[52px];
  }
  h3 {
    @apply text-2xl sm:text-3xl md:text-4xl;
  }
  h4 {
    @apply text-xl;
  }
  p {
    @apply leading-tight;
  }
  button {
    @apply font-semibold px-[60px] py-3 leading-6 text-base md:text-xl rounded-full transition-colors duration-200;
  }
}

@layer components {
  .p-lg {
    @apply text-lg sm:text-xl md:text-2xl;
  }
  .p-sm {
    @apply text-base sm:text-lg;
  }
}

@utility flex-between {
  @apply flex justify-between items-center;
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@theme {
  --color-*: initial;

  --color-black: #000;
  --color-white: #fff;

  --color-gray: #6c757d;
  --color-gray2: #cccfd1;
  --color-b5: #074a80;
  --color-b7: #042c4d;
  --color-b8: #031e33;
  --color-b9: #010f1a;
  --color-b9.5: #01070d;
  --color-y5: #ee9b26;
  --color-neutral-950: #0d0d0d;

  --color-feat: #edf7ff;

  --font-inter: "Inter", sans-serif;
}
